html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.globalBackgroundImage {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  object-fit: cover;
}

@font-face {
  font-family: "DINNeuzeitGrotesk";
  src: url('../fonts/DINNeuzeitGrotesk-Light-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: "Avenir";
  src: url('../fonts/Avenir LT Std 85 Heavy.otf');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: "Avenir";
  src: url('../fonts/AvenirLTStd/AvenirLTStd-Book.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url('../fonts/AvenirLTStd/AvenirLTStd-Black.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Avenir-light";
  src: url('../fonts/AvenirLTStd/AvenirLTStd-Roman.otf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Bebas";
  src: url('../fonts/Bebas Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Enriqueta";
  src: url('../fonts/Enriqueta/Enriqueta-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

.globalInput {
  height: 32px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgba(8, 8, 8, 0.16) 0px 0px 0px 1px, rgba(8, 8, 8, 0.08) 0px 2px 5px 0px;
  border: 0px none;
  border-radius: 5px;
  width: 100%;
}

.globalButton {
  border: 0px none;
  height: 32px;
  cursor: pointer;
  background-color: rgba(27,27,27,0.95);
  color: #aaff00;
  text-align: left;
  outline: none;
  /* font-weight: bold; */
  font-family: 'Avenir';
  padding: 0px 12px;
  height: 32px;
}

.globalButton:hover {
  background-color: rgba(27,27,27,0.95);
  color: white;
}

.globalButton:disabled {
  background-color: rgba(27,27,27,0.95);
  color: white;
}

.globalEndLine {
  border-bottom: 1px solid black;
  width: 50%;
}